<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Marks</title>
    <link rel="stylesheet" href="/css/parent1.css">
</head>
<body>
    
    <main>
        <h2>Subject-wise Marks</h2>
        <table>
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Marks</th>
                    <th>Total Marks</th>
                    <th>Term</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <% marks.forEach(mark => { %>
                <tr>
                    <td><%= mark.subject %></td>
                    <td><%= mark.marks %></td>
                    <td><%= mark.totalmarks %></td>
                    <td><%= mark.term %></td>
                    <td><%= mark.date.toDateString() %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </main>
</body>
</html>
